//===========================================
// -Buttons start
//===========================================

.btn {
  cursor: pointer;
  border-radius: 8px;

  &[disabled],
  &.disabled {
    cursor: not-allowed;
  }


  &.btn-secondary-color {
    background-color: $secondary;
    color: white;
    border: 2px solid $secondary;

    &:hover {
      background-color: darken($secondary, 20%);
    }
  }


}



//===========================================
// -Buttons end
//===========================================