//=======================================================
// -Global style start
//=======================================================

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


//=======================================================
// -Global style  end
//=======================================================